.rep-edit {
  color: $form-font-color;
  font-family: $font;
  background: $auth-background-grey;
  width: 100vw;
  height: 66.2vh;
  @include flex(row, center, center);
  .rep-edit-backdrop {
    width: 669px;
    height: 491px;
    background: $darker-grey;
    font-weight: 500;
    .rep-edit-reps {
      border-radius: 4px;
      background: $form-bg;
      width: 493px;
      height: 527px;
      position: relative;
      left: 88px;
      top: -18px;
      padding: 10px;
      @include flex(column, flex-start, center);
      .rep-edit-rep-list {
        min-height: 10px;
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
        max-height: 80%;
        overflow-y: scroll;
        li {
          border-radius: 2px;
          position: relative;
          height: 180.5px;
          width: 166px;
          overflow: hidden;
          margin: 20.5px 20.5px 0 0;
          > * {
            width: 100%;
          }
          &:hover {
            cursor: pointer;
          }
          header {
            position: absolute;
            background: rgba($color: $footer-button-hover, $alpha: 0.65);
            height: 35px;
            padding: 3px 5px;
            backdrop-filter: blur(4px);
            h2 {
              font-weight: 500;
              font-size: 13px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            h3 {
              font-size: 10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          img {
            background: $auth-background-grey;
            min-height: 100%;
          }
          button {
            height:24px;
            width:24px;
            right:2px;
            bottom: 22px;
            position: absolute;
            @include flex(column, center, center);
            border-radius: 40px;
            font-weight: 600;
            font-size: 16px;
            color: $go-text;
            text-align: center;
            padding-bottom: 2px;
            border: 1px solid rgba($color: $go-text, $alpha: 0.15);
            span {
              display: block;
              transform: scale(1,0.8);
            }
            background: $header-background;
            &:hover {
              cursor: pointer;
              background: $darker-grey;
            }
            z-index: 3;
          }
          footer {
            // height: 48.5px;  <-- Full height for when "contact" line is back
            height: 32px;
            position: absolute;
            bottom: 0;
            @include flex(column, center, center);
            line-height: 95%;
            padding: 3px;
            background: $header-background-grey;
            text-transform: lowercase;
            h2 {
              font-size: 16px;

            }
            h3 {
              font-weight: 500;
              font-size: 11px;
            }
          }
        }
      }
      .info-links{
        width: 100%;
        margin-top: 20px;
        @include flex(row, $align: center, $justify: space-evenly);
        a {
          @include flex(row, center, center);
          line-height: 48.5px;
          width: 200px;
          height: 48.5px;
          background: $button;
          border-radius: 7px;
          color: $background;
          }
        a:hover{
          background: $footer-button-hover;
        }
      }      
    }
  }
}