.rep-edit {
  color: $form-font-color;
  font-family: $font;
  background: $auth-background-grey;
  width: 100vw;
  height: 66.2vh;
  @include flex(row, center, center);
  .rep-edit-backdrop {
    width: 669px;
    height: 491px;
    background: $darker-grey;
    font-weight: 500;
    .rep-edit-options {
      border-radius: 4px;
      background: $form-bg;
      width: 493px;
      height: 527px;
      position: relative;
      left: 88px;
      top: -18px;
      @include flex(column, center, center);
    }
  }
}

