@import "./shared/reset.scss";
@import "./shared/variables.scss";
@import "./shared/mixins.scss";
@import "./auth/base-auth-page.scss";
@import "./shared/footer.scss";
@import "./splash.scss";
@import "./auth/signup.scss";
@import "./auth/signin.scss";
@import "./show/showpage.scss";
@import "./show/show_articles.scss";

@import "./headandfoot/header.scss";


.app {
    background: $background;
    min-height: 100vh;
    @include flex(column, space-between, center);
    font-family: $font;
}

