.splash{
    // padding: 30px;
    background: red;
    // height: 4000px;
    width: 100vw;
    // z-index:5;
    font-family: $font;;
}
.splash-top{
    padding: 10px;
    width:100%;
    height: 100vh;
    // height:20%; //may need to change to 20%
    background: #C4C4C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-top > * {
    // width:50%;
}
.splash-header{
    width: 100%;
    height: 11%; //math said 11%
    display: flex;
    justify-content: space-between;
}
.splash-header-left{
    height: 100%;
    width:27.5%;
    display: flex;
    justify-content: space-between;
    margin-left:20px;
}
.splash-header-logo{
    height: 100%;
    width: 75%;
    background: red;

}
.splash-header-left-dropdown{
    background: green;
    width: 20%;
    height:62%
}
.splash-header-right{
    width:37.7%;
    // height:55.5%;
    display: flex;
    margin-right:1%;
    align-items: center;
    

}

.splash-header-search-bar{
    background: purple;
    width:56%;
    height: 60px;

}
.signin-button{ 
    position:relative;
    background: #A6A6A6;
    width: 17.6%;
    padding: 8px;
    height:50px;
    // top: 15%;
    margin-left:2.5%;
    margin-right:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.signin-button > *{ 
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.signup-button{
    position:relative; 
    background: #818181;
    padding: 8px;
    width: 17.6%;
    height:50px;
    // top: 15%;
    margin-left:2.5%;
    margin-right:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.signup-button > *{ 
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.splash-search-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%; //might look better at 11%
    width:60%;
    position:relative;
    right: 80px;
}

.splash-search-text-title{
    font-size: 56px;
    font-weight: 500;
    color: white;

}

.splash-search-text-subtitle{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    color: white;
}

.splash-searchbar{
    background: white;
    display:flex;
    justify-content: center;
    width: 1100px;
    height: 97.5px;
    margin-top: auto;
    margin-bottom: calc(50vh - 48.75px);
    border: 1px solid $search-border;
    border-radius: 10px;
    box-shadow: 0 0 1px 9px rgba($color: $form-font-color, $alpha: 0.6);
    .search-form {
      height: 100%;
      width: 100%;
      .search-wrapper {
        @include flex(row, $align: center);
        height: 100%;
        .address-input {
          width: 640px;
        }
        .options-container {
          @include flex(row, $align: center);
          height: 100%;
          .select {
            width: 180px;
            height: 100%;
            border-left: 1px solid $search-border;
            border-right: 1px solid $search-border;
            position: relative;
            
            // &.levels{
              > span {
                font-size: 22px;
                line-height: 85%;
                font-weight: 400;
                .triangle {
                  width: 18px;
                  height: 11px;
                  clip-path: polygon(
                    0 0,
                    100% 0,
                    50% 100%
                  );
                  background: red;
                }
              }
              ul {
                &.hidden {
                  display: none;
                }
                z-index: 1;
                position: absolute;
                font-size: 24px;
                padding: 20px 0;
                border-radius: 4px;
                top: 80px;
                left: -5px;
                width: 200px;
                background: grey;
                li {
                  padding: 0 20px;
                  &:hover {
                    background: aqua;
                    cursor: pointer;
                  }
                }
              }
            }
          // }
          button {
            
          }
        }
      }
    }
}
.splash-searchbar-searchbar{
    padding: 30px;
    background: purple;
}
.splash-searchbar-gov-lvl{
    padding: 30px;
    background: red;
}
.splash-searchbar-interests{
    padding: 30px;
    background: blue;
}
.splash-searchbar-search-btn{
    padding: 30px;
    background: yellow;
}
.splash-body{
    // height: 815px;
    // display: flex;

    
    background: purple;
}
.splash-body-one{
    height: 815px;
    display: flex;
    justify-content: center;
    background: $background;
    align-items: center;
}
.splash-body-one-one{
    height:375px;
    width: 350px;
    background: #DCDCDC;
}
 //---------------------------------------------------
.splash-body-one-one-title-container{
    flex-direction: column;
    align-items: end;
    margin:40px;
    margin-bottom: 0px;
    text-align: end;

}

.splash-body-one-one-title-bold{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    

}

.splash-body-one-one-title-thin{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 300;

}


.splash-body-one-one-body-container{

    text-align: end;

}

.splash-body-one-one-body-container > *{
 font-size: 20px;
 margin:20px

}
// ------------------------------------
.splash-body-one-two{
    position: relative;
    top:40px;
    height:580px;
    width: 550px;
    background: #EBEBEB;
    margin: 40px;
}

.splash-body-one-two-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px

}

.splash-body-one-two-title-bold{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;

}

.splash-body-one-two-title-thin{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;

}


.splash-body-one-two-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px
}

.splash-body-one-two-body-container > *{
 font-size: 24px;
 margin:20px

}

.splash-body-one-three{
    height:375px;
    width: 350px;
    background: #DCDCDC;
}

.splash-body-one-three-title-container{
    flex-direction: column;
    align-items: end;
    margin:40px;
    margin-bottom: 0px;
    text-align: start;

}

.splash-body-one-three-title-bold{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    

}

.splash-body-one-three-title-thin{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;

}


.splash-body-one-three-body-container{
    text-align: start;

}

.splash-body-one-three-body-container > *{
 font-size: 20px;
 margin:20px

}

.splash-body-two{
    height: 750px;
    display: flex;
    background: blue;
}
.splash-body-politician-show{
    width:50%;
    height:100%;
    background: #E6E5E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-body-politican-show-upper-container{
    display: flex; 
   



}
.splash-body-politician-show-upper-photo{
    width: 300px;
    height: 250px;
    background: blue;
    margin: 30px;

}


.splash-body-politician-show-upper-text-box{
    width: 275px;
    height: 60px;
    background: red;
}

.splash-body-politician-show-upper-text-box{
    width: 350px;
    height: 60px;
    background: red;
    margin: 30px;
    margin-left: 0px;
    




}

.splash-body-politican-show-middle-container{

    width: 685px;
    height: 60px;
    margin-bottom:20px;
    background: red;

}

.splash-body-politican-show-lower-container{
    margin: 10px;
    display:flex;

}

.splash-body-politican-show-middle-container-left{

    width: 200px;
    height: 60px;
    background: red;
    margin-right:30px

}

.splash-body-politican-show-middle-container-right{
    

    width: 450px;
    height: 60px;
    background: red;
}



.splash-body-politician-show-explanation{ 
    width:50%;
    height:100%;
    background: $splash-show-bg;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.splash-body-politician-show-description-title{
    font-size: 40px;
    font-weight:450;
    margin: 20px;

}
.splash-body-politician-show-description-body{
    font-size: 28px;
    margin: 30px;

}


.splash-body-three{
    padding: 30px;
}

.splash-source-information{
    // height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F1EC;
    border-bottom: solid 1px red;
}
.open-source-header{
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:60px;
}

.open-source-subtitle{
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;

    
}
.github-repo-info{
    height: 300px;
    width:300px;
    background: #BEBDBB;
    border-radius: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.github-repo-info > *{
    font-size: 290px;
    color:#F2F1EC;
}

.github-icon{
    font-size: 300px;
}

.api-boxes{
    display: flex;
    margin:40px;
 
}
.api-box{
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right:50px;
    text-transform: uppercase;
    font-size: 30px;
    background: #E7E6E1;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right:10px;

}
.splash-body-bottom{ 
    padding: 30px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{ padding: 100px;
    background: yellow;
    margin-right:160px}


.splash-body-bottom-links{
    padding: 200px;
    padding-left:  120px;
    padding-right: 120px;
    margin: 40px;


    background: green;
    border: solid 3px orange
}

