.splash{
    // padding: 30px;
    background: red;
    // height: 4000px;
    width: 100%;
    // z-index:5;
    font-family: $font;;
}
.splash-top{
    width:100%;
    height: 100vh;
    // height:20%; //may need to change to 20%
    background: #C4C4C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-top > * {
    // width:50%;
}
.splash-header{
    width: 100%;
    height: 64px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.splash-header-left{
    height: 100%;
    width:27.5%;
    display: flex;
    justify-content: space-between;
    margin-left:20px;
}
.splash-header-logo{
    height: 100%;
    width: 75%;
    background: red;

}
.splash-header-left-dropdown{
    background: green;
    width: 20%;
    height:62%
}
.splash-header-right{
    display: flex;
    margin-right: 34.5px;
    align-items: center;
    width: 651px;
}

.splash-header-search-bar{
    background: purple;
    width:56%;
    height: 60px;

}
.signin-button{
  margin-left: 15.5px;
  background: $button;
  width: 128px;
  padding: 11.5px;
  height: 45px;
  text-align: center;
  border-radius: 3px;
  color: $go-text;
  font-size: 18px;
  font-weight: 700;
}


.signup-button{
    background: $button;
    width: 128px;
    padding: 11.5px;
    height: 45px;
    text-align: center;
    border-radius: 3px;
    color: $go-text;
    font-size: 18px;
    font-weight: 700;
    margin-left: 12.5px;
}


.splash-search-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25.8vh;
    width: 1100px;
}

.splash-search-text-title{
    font-size: 48px;
    font-weight: 500;
    color: white;

}

.splash-search-text-subtitle{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.splash-searchbar{
    background: white;
    display:flex;
    justify-content: center;
    width: 1100px;
    //possibly 88px height and -44px margin-bottom calc
    height: 88px;
    margin-top: 28px;
    margin-bottom: calc(50vh - 44px);
    border: 1px solid $search-border;
    border-radius: 10px;
    box-shadow: 0 0 1px 9px rgba($color: $form-font-color, $alpha: 0.6), inset 0 4px 1px -2px rgba($color: $form-font-color, $alpha: 0.3), inset 0 -4px 1px -2px rgba($color: $form-font-color, $alpha: 0.3);
    color: $search-text;
    .search-form {
      height: 100%;
      width: 100%;
      .search-wrapper {
        @include flex(row, $align: center);
        height: 100%;
        font-size: 22px;
        .fa-search {
          position: relative;
          left: 25px;
          width: 26px;
          transform: rotate(15deg);
        }
        .address-input {
          width: 640px;
          font-size: 24px;
          height: 100%;
          padding-left: 33px;
        }
        .options-container {
          @include flex(row, $align: center);
          height: 100%;
          width: 460px;
          .select {
            &:hover {
              cursor: pointer;
            }
            box-shadow: inset 4px 0 1px -2px rgba($color: $show-font-color, $alpha: 0.3);
            width: 180px;
            height: 100%;
            border-left: 1px solid $search-border;
            position: relative;
            @include flex(column, center, center);
              > span {
                @include flex(column, $align: center );
                text-align: center;
                font-size: 22px;
                line-height: 100%;
                font-weight: 400;
                padding-bottom: 12px;
                .triangle {
                  position: absolute;
                  bottom: 13.5px;
                  margin-top: 5px;
                  width: 18px;
                  height: 11px;
                  clip-path: polygon(
                    0 0,
                    100% 0,
                    50% 100%
                  );
                  background: $search-text;
                }
              }
              ul {
                &.hidden {
                  display: none;
                }
                z-index: 1;
                position: absolute;
                font-size: 24px;
                padding: 20px 0;
                border-radius: 4px;
                top: 80px;
                left: -5px;
                width: 200px;
                background: $header-background;
                border-top: 1px solid $button;
                box-shadow: 0 2px 4px rgba($color: $search-border, $alpha: 0.5);
                li {
                  padding: 5px 20px;
                  background: $form-bg;
                  &:hover {
                    background: aqua;
                    cursor: pointer;
                  }
                }
              }
            }
          // }
          button {
            border-left: 1px solid $search-border;
            height: 100%;
            width: 100px;
            text-align: center;
            background: $go-button;
            border-radius: 0 9px 9px 0;
            font-weight: 600;
            color: $go-text;
            box-shadow: inset 4px 0 1px -2px rgba($color: $show-font-color, $alpha: 0.3);
            &:hover {
              background: mix($auth-background-grey, $go-button, $weight: 25%);
            }
          }
        }
      }
    }
}
.splash-searchbar-searchbar{
    padding: 30px;
    background: purple;
}
.splash-searchbar-gov-lvl{
    padding: 30px;
    background: red;
}
.splash-searchbar-interests{
    padding: 30px;
    background: blue;
}
.splash-searchbar-search-btn{
    padding: 30px;
    background: yellow;
}
.splash-body{
    // height: 815px;
    // display: flex;

    
    background: purple;
}
.splash-body-one{
    height: 815px;
    display: flex;
    justify-content: center;
    background: $background;
    align-items: center;
}
.splash-body-one-one{
    height:375px;
    width: 350px;
    background: #DCDCDC;
}
 //---------------------------------------------------
.splash-body-one-one-title-container{
    flex-direction: column;
    align-items: end;
    margin:40px;
    margin-bottom: 0px;
    text-align: end;

}

.splash-body-one-one-title-bold{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    

}

.splash-body-one-one-title-thin{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 300;

}


.splash-body-one-one-body-container{

    text-align: end;

}

.splash-body-one-one-body-container > *{
 font-size: 20px;
 margin:20px

}
// ------------------------------------
.splash-body-one-two{
    position: relative;
    top:40px;
    height:580px;
    width: 550px;
    background: #EBEBEB;
    margin: 40px;
}

.splash-body-one-two-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px

}

.splash-body-one-two-title-bold{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;

}

.splash-body-one-two-title-thin{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;

}


.splash-body-one-two-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px
}

.splash-body-one-two-body-container > *{
 font-size: 24px;
 margin:20px

}

.splash-body-one-three{
    height:375px;
    width: 350px;
    background: #DCDCDC;
}

.splash-body-one-three-title-container{
    flex-direction: column;
    align-items: end;
    margin:40px;
    margin-bottom: 0px;
    text-align: start;

}

.splash-body-one-three-title-bold{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    

}

.splash-body-one-three-title-thin{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;

}


.splash-body-one-three-body-container{
    text-align: start;

}

.splash-body-one-three-body-container > *{
 font-size: 20px;
 margin:20px

}

.splash-body-two{
    height: 750px;
    display: flex;
    background: blue;
}
.splash-body-politician-show{
    width:50%;
    height:100%;
    background: #E6E5E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-body-politican-show-upper-container{
    display: flex; 
   



}
.splash-body-politician-show-upper-photo{
    width: 300px;
    height: 250px;
    background: blue;
    margin: 30px;

}


.splash-body-politician-show-upper-text-box{
    width: 275px;
    height: 60px;
    background: red;
}

.splash-body-politician-show-upper-text-box{
    width: 350px;
    height: 60px;
    background: red;
    margin: 30px;
    margin-left: 0px;
    




}

.splash-body-politican-show-middle-container{

    width: 685px;
    height: 60px;
    margin-bottom:20px;
    background: red;

}

.splash-body-politican-show-lower-container{
    margin: 10px;
    display:flex;

}

.splash-body-politican-show-middle-container-left{

    width: 200px;
    height: 60px;
    background: red;
    margin-right:30px

}

.splash-body-politican-show-middle-container-right{
    

    width: 450px;
    height: 60px;
    background: red;
}



.splash-body-politician-show-explanation{ 
    width:50%;
    height:100%;
    background: $splash-show-bg;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.splash-body-politician-show-description-title{
    font-size: 40px;
    font-weight:450;
    margin: 20px;

}
.splash-body-politician-show-description-body{
    font-size: 28px;
    margin: 30px;

}


.splash-body-three{
    padding: 30px;
}

.splash-source-information{
    // height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F1EC;
    border-bottom: solid 1px red;
}
.open-source-header{
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:60px;
}

.open-source-subtitle{
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;

    
}
.github-repo-info{
    height: 300px;
    width:300px;
    background: #BEBDBB;
    border-radius: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.github-repo-info > *{
    font-size: 290px;
    color:#F2F1EC;
}

.github-icon{
    font-size: 300px;
}

.api-boxes{
    display: flex;
    margin:40px;
 
}
.api-box{
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right:50px;
    text-transform: uppercase;
    font-size: 30px;
    background: #E7E6E1;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right:10px;

}
.splash-body-bottom{ 
    padding: 30px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{ padding: 100px;
    background: yellow;
    margin-right:160px}


.splash-body-bottom-links{
    padding: 200px;
    padding-left:  120px;
    padding-right: 120px;
    margin: 40px;


    background: green;
    border: solid 3px orange
}

