.session-form:not(.reg) {
    padding: 45px;
    h1 {
        margin-bottom: 40px;
    }
    button:first-of-type {
        margin-bottom: 15px;
    }

    input#password {
        margin-bottom: 40px;
    }
    .session-button {
        margin-bottom: 25px;
        width: 330px;
        padding-top: 15.3px;
        padding-bottom: 15.3px;
        border-radius: 7px;
        background: $header-background;
        color: white;
        font-size: 22px;
        font-weight: 600;
        text-align: center;

    }
    button[disabled]{
        background: $auth-background-grey;
        cursor: default;
    }
}