.header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 70px;
  font-family: $font;
}

.header-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.33%;
  min-width: 560px;
  background-color: $header-background;
  border-bottom-right-radius: 10px;
}

.header-logo{
  margin-left: 70px;
  img {
    width: 200px;
    background: none;
  }
}

.header-skinny-middle{
  max-width: 33.33%;
  flex: 1 0 auto;
  height: 35px;
  background: $header-background;
}

.header-right{
  width: 33.33%;
  min-width: 560px;
  display: flex;
  justify-content: space-between;
  background-color: $header-background;
  border-bottom-left-radius: 10px;
  align-items: center;
}

.header-search-bar{
  margin-left: 25px;
  background: $footer-button-text;
  width: 368px;
  height: 40px;
  border: 3px solid white;
  border-radius: 5px;
  color: $form-font-color;
  @include flex(row, $justify: space-between, $align: center);
  input {
    padding-left: 12.5px;
    font-size: 16px;
    height: 100%;
    font-variant: small-caps;
    font-feature-settings: normal;
  }
  .header-search-icon {
    font-size: 21px;
    transform: rotate(-15deg);
    margin-right: 14.5px;
  }

}

.information-dropdown{
  position: relative;
  @include flex(row, center, center);
  margin-right: 25px;
  width: 100px;
  height: 48px;
  border-radius: 2px;
  text-align: center;
  &:hover {
    background: $footer-button-hover;
    cursor: pointer;
  }
}


.header-drop-btn{
  border-radius: 3px;
  text-align: center;
}

.header-drop-btn span{
  border: 3px solid $footer-button-text;
  font-size: 23px;
  font-weight: 700;
  color: $go-text;
  display: block;
  height: 34px;
  width: 34px;
  border-radius: 50px;
}

.header-drop-content{
  display: none;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgba($color: $form-bg, $alpha: 0.8);
  box-shadow: 0px 2px 5px 2px rgba($color: $section-headers, $alpha: 0.25);
  backdrop-filter: blur(4px);
  z-index: 1;
  border-radius: 8px;
  top: 28px;
  left: 57px;
  padding: 32px 26px;
  &:hover {
    cursor: default;
  }
}

.information-dropdown:hover .header-drop-content {
  @include flex(column)
}

.header-right a{
  width: 100px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  font-size: 16px;
  height: 25px;
  padding: 3px 0;
  color: $footer-button-text;
  &:hover {
    background: $footer-button-hover;
  }
  &:last-of-type {
    margin: 3px 0;
  }
}

.header-links{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
