footer {
    height: 87.5px;
    width: 100%;
    background: $header-background;
    @include flex(row, flex-end, center);
    button {
        font-size: 28px;
        letter-spacing: -0.8px;
        font-weight: 600;
        height: 54px;
        padding: 0 32px;
        color: $footer-button-text;
        border-radius: 6px;
        &.github {
            @include flex(row, $align: center);
            margin-left: 23.5px;
            margin-right: auto;
            font-size: 20px;
            letter-spacing: normal;
            vertical-align: center;
            svg {
                position: relative;
                font-size: 42px;
                left: -3.5px;
                margin-right: 10px;
            }
        }
        &:hover {
            background: $footer-button-hover;
        }
        &:last-of-type {
            font-weight: 500;
            font-size: 20px;
            margin: 0 23.5px 0 14.5px;
            letter-spacing: normal;
        }
    }
}