$border: #c5c5c3;
$stripe-width: 63.5px;
$flag-margin: 49.5px;
$image-dimensions: 312px;

$image-border: $border;
// Need to refactor colors: noticed mistakes when pulling them
.politician-show {
  color: $show-font-color;
  .main-info {
    padding: 60px 0;
    border-bottom: 2.5px solid $border;
    margin-bottom: 60px;
    max-width: 1300px;
    height: 644px;
    @include flex(row, $justify: space-between);
    .flag {
      width: 59vw;
      .flag-top {
        @include flex(row, $align: center);
        .image {
          
          flex: 0 0 auto;
          height: $image-dimensions;
          width: $image-dimensions;
          background: $image-border;
          position: relative;
          .image-container {
            height: 100%;
            overflow: hidden;
            clip-path: polygon(
              0% 2.5%,
              2.5% 0%,
              97.5% 0%,  
              100% 2.5%, 
              100% 97.5%,
              97.5% 100%,
              2.5% 100%, 
              0 97.5%
            );
            &::after {
              content: "";
              height: $image-dimensions - 20px;
              width: $image-dimensions - 20px;
              position: absolute;
              top: 0;
              left: 0;
              background: $border;
              opacity: 0.1;
            }
          }
          border: 10px solid $image-border;  /*can change here if watched! */
          img {
            opacity: 1;
          }
          .alert {
            position: absolute;
            right: -1px;
            top: -1px;
            height: 60px;
            width: 60px;
            text-align: right;
            padding: 3px 15px 0 0;
            background: mix($red-equiv-to-darker-grey, $button, 40%);
            color: $background;
            font-size: 24px;
            font-weight: 700;
            clip-path: polygon(
              0 0,
              100% 0,
              100% 100%
            );
          }
          .follow-btn {
            position: absolute;
            right: -1px;
            bottom: -1px;
            height: 60px;
            width: 60px;
            text-align: right;
            padding: 20px 9px 0 0;
            background: rgba($color: $header-background, $alpha: 1);
            color: $background;
            font-size: 34px;
            font-weight: 600;
            clip-path: polygon(
              100% 0,
              100% 100%,
              0 100%
            );
            span {
              margin-left: 30px;
              display: block;
              text-align: center;
              width: 20px;
              height: 20px;
            }
            &:hover {
              cursor: pointer;
              background: rgba($color: $blue-equiv-to-darker-grey, $alpha: 1);
            }
          }
        }
        aside {
          @include flex(column, $justify: center);
          flex: 1 1 auto;
          padding-left: $stripe-width - 10px;
          > div {
            width: 100%;
            height: $stripe-width;
            background: rgba($color: $border, $alpha: 0.4);
            margin-bottom: $flag-margin;
            padding: 0 20px;
            font-size: 15px;
            @include flex(column, $justify: center);
            .issues-container{
              @include flex(row);
              div {
                &:hover {
                  cursor: default;
                }
                padding: 5px 10px;
                background: $darker-grey;
                border: 1px solid $switch-border-b;
                border-radius: 2px;
                color: $form-bg;
                font-weight: 600;
                margin-right: 10px;
                text-shadow: 0 0 1.5px rgba($color: $search-border, $alpha: 0.5);
              }
            }
            > span {
              display: block;
              line-height: 22px;
              &.name {
                margin-top: 2px;
                font-weight: 700;
                font-size: 23px;
              }
              &:not(.name) {
                font-size: 14px;
                font-weight: 500;
                color: mix($form-font-color, $show-font-color, $weight: 50%);
                span {
                  &.d {
                    color: #395891;
                  }
                  &.r {
                    color: #913a3a;
                  }
                }
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
      > aside {
        background: rgba($color: $border, $alpha: 0.3);
        height: $stripe-width;
        padding: 0 6% 0 20px;
        &:first-of-type {
          height: $stripe-width - 10px;
          $lower-margin: $flag-margin - 11.25px;
          margin: $lower-margin 0 $flag-margin;
        }
        @include flex(row, $align: center, $justify: space-between);
        > span {
          font-weight: 600;
          font-size: 22px;
          a {
            margin-right: 5px; 
            &:hover {
              text-shadow: 0 0 1px $show-font-color;
            }
          }
        }
        div {
          // margin-right: 5%;
          svg {
            height: 35px;
            width: 35px;
            margin-left: 10px;
            color: $splash-show-bg;
            &.fa-youtube {
              margin-left: 5px;
              width: 50px;
            }
            &:last-of-type {
              margin-right: 15px;
            }
            &:hover {
              color: $header-background;
            }
          }
        }
        p a {
          font-weight: 600;
          margin-right: 20px;
          &:hover {
            text-shadow: 0 0 0.5px $show-font-color;
          }
        }
      }
    }
    .propublica {
      margin-left: 100px;
      width: 329.5px;
      height: 100%;
      background: mix($button, $section-headers, 80%);
      border-radius: 2px;
      color: $sources-text;
      padding: 20px;
      &:hover {
        cursor: default;
      }
      h2 {
        letter-spacing: 0.5px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba($color: $sources-text, $alpha: 0.4);
      }
      > div > div > ul {
        margin: 0 2px 0 7px;
        font-size: 14px;
        height: 400px;
        @include flex(column, $justify: space-between);
        > div {
          align-self: center;
          background: $sources-text;
          text-align: center;
          padding: 4px;
          font-weight: 600;
          margin-bottom: 20px;
          color: mix($button, $section-headers, 80%);
          border-radius: 3px;
          width: 105px;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          ul {
            &:hover {
              cursor: default;
            }
            font-weight: 400;
            padding: 14px;
            font-size: 13px;
            position: absolute;
            background: $background;
            border: 1px solid $button;
            min-height: 300px;
            width: 500px;
            text-align: left;
            right: 275px;
            top: -50px;
            h3 {
              font-size: 16px;
              width: 100%;
              border-bottom: 1px solid $button;
              margin: 3px 0;
            }
            li {
              margin-left: 8px;
              span {
                margin-left: 2px;
                display: block;
              }
            }
          }

        }
        strong {
          font-weight: 600;
        }
        p {
          @include flex(row, $justify: space-between);
          margin: 4px 0;
          width: 100%;
          &.bills {
            margin-bottom: 70px;
          }
          &.recent {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}